{% extends 'base/base.html' %}
{% block titulo %}Reset Contraseña{% endblock %}
{% block navegador %}
        <div class="bs-docs-section clearfix">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                      <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="">Bienvenido</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li> <a href="https://github.com/stevematos/DemoFdex" onclick="pageTracker._link(this.href); return false;">Ver Codigo</a>
                                <li> <a href="{% url 'usuario:logout' %}">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                      </nav>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}﻿
{% block footer %}
    <h4>HECHO POR: </h4>
    <h5>Steve Sader Matos Manguinuri</h5>
    <h5>Correo: steve.matos@unmsm.edu.pe o s.s.m.m_98@hotmail.com</h5>
    <h5>Celular:936015877</h5>
{% endblock %}
