{% extends 'base/base.html' %}
{% load static %}
{% block extrastatic %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block contenido %}
    <div class="col-md-6 col-md-offset-3">
    {% if form.errors %}
        <p>Su nombre de usuario y/o contraseña no coinciden. Inténtalo de nuevo</p>
    {% endif %}
        <form method="post">
            {% csrf_token %}
             <div class="row">
                <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input class="form-control" type="text" name="username">
               </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="username">Contraseña:</label>
                    <input class="form-control" type="password" name="password">
               </div>
            </div>
            <div class="row">
                <a id="olvide_ontrasenia" href="{% url 'usuario:password_reset' %}">¿Has olvidado la contraseña?</a>
            </div>
            <div class="row">
                <input class="btn btn-primary btn-block" type="submit" value="Ingresar">
            </div>
            <div class="row">
                <p id="registrate">
                    ¿Aun no tienes una cuenta?
                    <a  href="{% url 'usuario:registrar' %}">
                    Registrate
                    </a>
                </p>
            </div>

        </form>
    </div>
{% endblock %}